/* ################## Main Part ################## */
body {
	padding-left: 50px;
	padding-right: 50px;

	background-image: url("donne_/SierraL.jpg");

	background-size: cover;
	background-attachment: fixed;
}

header {
	background-color: whitesmoke;
	border:solid;
	
	position: -web-sticky;
	position: sticky;
	top : 0px;
	
	padding: 5px;
	text-align: center;
	transition: background-color 1s;
}

header:hover {
	text-decoration: underline;
	background-color: rgb(255, 120, 120);
}

footer {
	background-color: rgb(255, 255, 255);
	margin-top:100px;
	margin-bottom:50px;
}

/* ################## Main Element ################## */

h1 {
	
	background-color: salmon;
	border:solid;
	padding: 5px;
	text-align: center;
	
	animation : example 5s infinite ;
}

@keyframes example {
	0%   {background-color: white;}
	25%   {background-color: rgb(255,0,0);}
	50%   {background-color: rgb(0,255,0);}
	75%   {background-color: rgb(0,0,255);}
	100%   {background-color: white;}
}

p, h2, li {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
}

h2 {
	margin-top: 50px;
}

ol {
	padding : 20px;
	list-style-position: inside;
}

a {
	font-size: 15px;
	transition: font-size 2s;
}

a:hover {
	font-size: 20px;
}

/* ################## ID Element ################## */

#num {
	width: 260px;
	height: 337px;
	background-color: salmon;
	float : right;
	margin-top: -20px;
}

#code {
  border : 1px solid black;
  background-color: salmon;
  padding : 10px;
}

#me {
  color : rgba(0,0,0,0);	
}
#me::after {
  content : "lol";	
}

#img2 {
  height : 300px;
  background-color: white;
}

#quiz {
  width: 20%;
  height: 80px;
  border-radius: 20px;
  border : 1.5px solid black;
  background-color : white;
  font-size: 30px;
  margin: 0 40%;
  transition: all 0.5s;
}
#quiz:hover {
  border : 3px solid black;
  font-size: 40px;	
}

#gitlab {
  font-size: 40px;
  transition: font-size 2s, color 3s;
}
#gitlab:hover {
	font-size: 60px;
	color: black;
}
/* ################## Other ################## */

.bomb::after {/* By CSS */
    content:'_';
	animation: v2 2s infinite alternate;
}

@keyframes v2 {
	0%     {content:'_';}
	9%     {content:'Y';}
	18%    {content:'Ya';}
	27%    {content:'Yan';}
	36%    {content:'Yann';}
	45%    {content:'Yann R';}
	54%    {content:'Yann Ru';}
	63%    {content:'Yann Ruel';}
	72%    {content:'Yann Ruell';}
	81%    {content:'Yann Ruella';}
	90%, 100%   {content:'Yann Ruellan';}
}

#anim3 { /* By JS */
	padding: 5px;
	background-color: #ff000020;
}

#anim4 {
	background:  linear-gradient(red, rgb(255, 0, 255));
	height: 50px;
	width:  50px;
	animation: v4 4s infinite linear;
	position: relative;
	border: solid black;
}
@keyframes v4 {
		0%   {top:0px;   left:0px;   rotate: 0deg;}
		25%  {top:200px; left:0px;   rotate: 180deg;}
		50%  {top:200px; left:200px; rotate: 360deg;}
		75%  {top:0px;   left:200px; rotate: 180deg;}
	100% {top:0px;   left:0px;   rotate: 0deg;}
}

#repQ {
	font-size: 40px;
}



